html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction:column;

}

.main{
  padding:20px;
  flex: 1 1 auto;
}

.footer {
  background-color: red;
  padding:20px;
  text-align: center;
}
